@page "/diagnostics"
@using System.Security.Principal;
@attribute [Authorize]
@inject IDiagnosticsService _serviceClient

<PageTitle>Arcade - Diagnostics</PageTitle>
<h3>Diagnostics</h3>
<hr />

<AuthorizeView>
    <Authorized>
        <h4>Authenticated User:</h4>
        <hr />
        <div>Name: @GetDisplayName(context.User.Identity)</div>
        @foreach (var claim in context.User.Claims)
        {
            <div>@claim.ToString()</div>
        }

        <hr />
        <h4>Arcade Service Diagnostics:</h4>
        <hr />

        @if (_diag != null)
        {
            <div>Result: @_diag.Result</div>
            <div>Endpoint Url: @_diag.EndpointUrl</div>
            <div>Caller Id: @_diag.CallerId</div>
            <div>Caller Name: @_diag.CallerName</div>
            <div>Timestamp: @ConvertToDateTime(_diag.Timestamp) (UTC)</div>
        }
        else
        {
            <p>Service diagnostics request failed.</p>
        }
    </Authorized>
    <NotAuthorized>
        <h4>Authenticated User:</h4>
        <hr />
        <p>User not logged in.</p>
        <hr />
    </NotAuthorized>
</AuthorizeView>

@code {
    private ServiceDiagnostics? _diag = null;

    internal string GetDisplayName(IIdentity? identity)
    {
        return identity?.Name ?? string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        _diag = await _serviceClient.GetAuthDiagnosticsAsync();
    }

    private DateTime ConvertToDateTime(long ticks) =>
        new DateTime(ticks);
}
