@using D20Tek.Arcade.Web.Games.TRexRunner.Models
@inject IJSRuntime JS

<div class="title fw-bold my-1">LEVEL: @_engine.Level - SCORE: @_engine.Score</div>
<div class="full-area">
    <div class="game-container">
        <!-- Background layer for parallax effect -->
        <div class="background"></div>

        <div class="dino" style="top: @(_engine.Dino.Bounds.Y)px; left: @(_engine.Dino.Bounds.X)px; width: @(_engine.Dino.Bounds.Width)px; height: @(_engine.Dino.Bounds.Height)px">
            <img class="img-full" src="@_engine.Dino.GetImage()" />
        </div>

        @foreach(var o in _engine.Obstacles.ToList())
        {
        <div class="obstacle" style="top: @(o.Bounds.Y)px; left: @(o.Bounds.X)px; width: @(o.Bounds.Width)px; height: @(o.Bounds.Height)px">
            <img class="img-full" src="@o.GetImage()" />
        </div>
        }
    </div>
</div>
<div class="full-area">
    <div class="button-container">
        <button class="btn btn-outline-light" style="width: 49%" @onmousedown="() => HandleKeydown(KnownKeys.ArrowDown)">
            <i class="bi bi-arrow-down"></i>
        </button>
        <button class="btn btn-outline-light" style="width: 49%" @onmousedown="() => HandleKeydown(KnownKeys.ArrowUp)">
            <i class="bi bi-arrow-up"></i>
        </button>
    </div>
</div>

@code {
}
